/**
 * @file
 * This file defines the page layout structure.
 */

#page {
  max-width: 1200px;
  margin: 0 auto;
}

#section-main {
  padding: 0 0.5em 1.5em 0.5em;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */


@media only screen and (min-width: 1000px) {

  #sidebar-first {
    position: fixed;
    width: 300px;
    height: 100%;
  }

  .sidebar-first #section-main {
    margin-left: 30%;   /* Left Sidebar width */
    width: 70%;
  }

}
