/**
 * @file
 * Primary appearance styling.
 */

/** Styling for page.tpl.php elements **/

body {
  background: #fff;
  color: #222;
}

#section-header {
  padding: 1.625em 0;
}

form#search-theme-form {
  float: right;
  margin: 0;
}

#edit-search-theme-form-1-wrapper label {
  display: none;
}

#site-name a {
  text-decoration: none;
}

#logo img {
  border-radius: 50%;
  padding: .6em;
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3em;
}

#section-navigation {
  padding: 0 0 1em 0;
}

#sidebar-first {
  padding: 1em 3em;
  text-align: center;
}

#section-footer {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  padding: 0 0 1.875em;
}

#section-footer a {
  color: #777;
}

/** Styling for blocks **/

#block-search-form {
  text-align: center;
}

#block-block-1 {
  line-height: normal;
  margin: 0.625em 0;
}

#block-block-1 .swatch{
  display: inline-block;
}

#block-mysite-mysite-hfc-logo {
  width: 150px;
  margin: 0 auto;
}

#block-hfcc-global-hfcc-global-footer-links li {
  display: inline;
  padding: 0 2px;
}

#block-hfcc-global-hfcc-global-footer-links a {
  text-decoration: underline;
}

#block-hfcc-global-hfcc-global-footer-message a:hover,
#block-hfcc-global-hfcc-global-footer-message a:focus {
  text-decoration: none;
}


/** Styling for nodes **/

.node-article .field-name-field-author-title,
.node-article .field-name-field-byline {
  font-weight: 700;
}

.node-article .field-name-field-photo-credit {
  font-style: italic;
}

.node .group-article-byline {
  border-bottom: 1px solid #ccc;
  margin: 0 0 2em 0;
}

.node-article .group-article-photo {
  float: left;
  padding: 0 1em 0.3125em 0 !important;
}

.node-article .field-name-field-pic-article {
  max-width: 600px;
  max-height: 600px;
}

.node-article .field-name-field-pic-article img {
  max-height: 600px;
}

.node-article .field-name-field-photo-credit {
  text-align: center;
}

.node .submitted {
  font-style: italic;
  margin: 0 0 0.625em;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/* Format links section. */

.node .content .links {
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
  text-transform: uppercase;
}

.node .content .links li {
  padding: 0 0.382em 0 0;
}

.node .content .links a {
  background: #ffa;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  color: #777;
  padding: 0.134em 0.328em;
  text-decoration: none;
}

.node .content .links a:hover {
  color: #555;
  text-decoration: underline;
}

/* Buttons */
.button {
  display: inline;
  padding: 0.2em 0.5em;
}

.button a {
  color: white !important;
}

.button:hover {
  background-color: #222;
}

.button a:hover {
  background: transparent;

}

/* Color Swatch classes */

.swatch {
  width: 1em;
  height: 1em;
  margin: 0.5em;
  cursor: hand;
  cursor: pointer;
}

/* Color Text classes */

.orange-text,
a.orange-text,
a.active.orange-text,
.orange-text-hover:hover {
  color: #EE7F4E;
}

.blue-text,
a.blue-text,
a.active.blue-text,
.blue-text-hover:hover {
  color: #82b7db;
}

.green-text,
a.green-text,
a.active.green-text,
.green-text-hover:hover {
  color: #66c279;
}

.black-text,
a.black-text,
a.active.black-text,
.black-text-hover:hover {
  color: #191919;
}

.brown-text,
a.brown-text,
a.active.brown-text,
.brown-text-hover:hover {
  color: #c89159;
}

.yellow-text,
a.yellow-text,
a.active.yellow-text,
.yellow-text-hover:hover {
  color: #f1cd41;
}

.red-text,
a.red-text,
a.active.red-text,
.red-text-hover:hover {
  color: #c82525;
}

.gray-text,
a.gray-text,
a.active.gray-text,
.gray-text-hover:hover {
  color: #989898;
}

.purple-text,
a.purple-text,
a.active.purple-text,
.purple-text-hover:hover {
  color: #a971bf;
}

/* Setting transition properties for background */

.colorable,
#logo img {
  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

/* Color BG classes */

.orange-bg {
  background-color: #EE7F4E;
}

.blue-bg {
  background-color: #82b7db;
}

.green-bg {
  background-color: #66c279;
}

.black-bg {
  background-color: #191919;
}

.brown-bg {
  background-color: #c89159;
}

.yellow-bg {
  background-color: #f1cd41;
}

.red-bg {
  background-color: #c82525;
}

.gray-bg {
  background-color: #989898;
}

.purple-bg {
  background-color: #a971bf;
}

/* Circle content frame class */

.circle-frame {
  max-width: 100%;
  border-radius: 50%;
  border: 8px solid #efefef;
  box-shadow: 0 0 1px black;
  line-height: 0;
  overflow: hidden;
  position: relative;
}

.circle-caption {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0.15em 1em;
  margin: 0 -2em 0 0;
  line-height: 0;
  z-index: 5;
}

.circle-caption .title {
  color: #fff;
  margin: 0;
  z-index: 2;
}

.circle-wrap {
  width: 600px;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 3em;
}

.circle-shadow {
  position: absolute;
  bottom: 28px;
  height: 30px;
  width: 100%;
  margin: -15px 0 0 0;
  background: rgba(0,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(246,246,246,0.12) 59%, rgba(246,246,246,0) 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(59%, rgba(246,246,246,0.12)), color-stop(67%, rgba(246,246,246,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(246,246,246,0.12) 59%, rgba(246,246,246,0) 67%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(246,246,246,0.12) 59%, rgba(246,246,246,0) 67%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(246,246,246,0.12) 59%, rgba(246,246,246,0) 67%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(246,246,246,0.12) 59%, rgba(246,246,246,0) 67%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f6f6f6', GradientType=1 );
  z-index: -2;
}

.circle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #ccc; /* #ccc */
  opacity: 0;
  -webkit-transition: opacity 1000ms ease;
  -moz-transition: opacity 1000ms ease;
  -o-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
}

.circle-frame:hover .circle-overlay {
  opacity: .7;
}

.circle-reveal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 15%;
  background-color: rgba(204, 204, 204, 0.9); /* #ccc */
  z-index: 2;
  display: none;
  text-align: center;
  padding-top: 50%;
}

.circle-reveal p {
  display: none; /* too small circle for mobile */
}

.button-exit {
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 3em;
  height: 3em;
  background-image: url('../white-x.png');
  background-size: cover;
  display: none;
}

/** Media Queries **/

@media only screen and (min-width: 550px) {

  .circle-reveal {
    padding-top: 15%;
  }

  .circle-reveal p {
    display: block;
  }

}

@media only screen and (min-width: 1000px) {

  #sidebar-first {
    border-right: 1px solid #ccc;
    text-align: left;
  }

  .sidebar-first #section-main {
    padding: 0 0 1.5em 2em;
  }

  #block-block-1 {
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 10;
  }

  #block-block-1 .swatch {
    display: block;
  }
}
