/**
 * @file
 * Menu styling.
 */

/* All Menus */

ul.menu {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em; /* 17.500px */
  line-height: 1.2em;
  text-align: center;
  display: block;
}

ul.menu li {
  margin: 0;
  display: inline-block;
  padding: 0 0.2em;
}

ul.menu a {
  text-decoration: none;
  -webkit-transition: margin 1000ms ease;
  -moz-transition: margin 1000ms ease;
  -o-transition: margin 1000ms ease;
  transition: margin 1000ms ease;
}

ul.menu a:hover {
  text-decoration: none;
  background: none;
  margin: 0 1em;
}

ul.menu li.active-trail a {
  font-weight: bold;
}

ul.menu li.active-trail a:hover {
  margin: 0;
}

ul.menu .expanded,
ul.menu .collapsed {
  list-style-image: none;
  list-style-type: none;
}

ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

ul.menu ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

ul.menu li ul.menu li.last {
  padding: 0;
}

/* Main Navigation */

ul#main-menu {
  font-size: 1.563em; /* 21.875px */
  line-height: 1em;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  display: block;
}

ul#main-menu li.expanded,
ul#main-menu li {
  display: block;
  padding: 0.2em;
  margin: 0;
  text-align: left;
  display: inline-block;
}

ul#main-menu a {
  text-decoration: none;
  -webkit-transition: margin 1000ms ease;
  -moz-transition: margin 1000ms ease;
  -o-transition: margin 1000ms ease;
  transition: margin 1000ms ease;
}

ul#main-menu a:hover {
  background: none;
  margin: 0 1em;
}

ul#main-menu a.active:hover {
  margin: 0;
}

/* Apply specific formatting for a menu called "footer links" */

#section-footer ul.menu {
  text-align: left;
  font: 1em/1.625 'Open Sans', sans-serif;
}

#section-footer ul.menu a:hover {
  margin: 0;
  background-color: #eee;
}

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  color: #444;
  font-size: 11px;
  font-weight: normal;
  text-decoration: underline;
}

@media only screen and (min-width: 1000px) {

  ul#main-menu {
  text-align: left;
}

  ul#main-menu li.expanded,
  ul#main-menu li {
    display: block;
  }

  ul#main-menu a:hover {
    margin: 0 0 0 1em;
  }

  /* Sidebar Menus */

  .sidebar ul.menu {
    text-align: left;
  }

  .sidebar ul.menu li {
    display: block;
  }

  .sidebar ul.menu a:hover {
    margin: 0 0 0 1em;
  }


}

