/**
 * @file
 * View styling.
 */

 /** Styling for views **/

/* Date fix for month calendar views. */

.calendar-calendar div.day {
  width: 2em;
}

/* Padding for end of view row */
.group-list .view-content .views-row-last {
  padding-bottom: 1.625em;
}

/**
 * Overrides for Views Grid display.
 *
 * Based on a hack by Jen Simmons to render views grids as unordered lists and modified for use with flexbox.
 * See https://gist.github.com/2295479 and ../templates/views-view-grid.tpl.php
 *
 */

ul.views-view-grid {
  margin: 0 -0.3125em;
  list-style: none;
  list-style-image: none;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

ul.views-view-grid li {
  margin: 0;
  padding: 0 0 0.625em;
}

@media only screen and (min-width: 768px) {
  /* Overrides for Views Grid display. */

  ul.views-view-grid li {
    padding: 0 0.3125em 0.625em;
  }

  .view ul.cols-2 li {
    width: 50%;
  }
  .view ul.cols-3 li {
    width: 33.3333%;
  }
  .view ul.cols-4 li {
    width: 25%;
  }
  .view ul.cols-5 li {
    width: 20%;
  }
  .view ul.cols-6 li {
    width: 16.6666%;
  }
  .view ul.cols-7 li {
    width: 14.2857%;
  }
  .view ul.cols-8 li {
    width: 12.5%;
  }
  .view ul.cols-9 li {
    width: 11.1111%;
  }
  .view ul.cols-10 li {
    width: 10%;
  }
}
